<div class="container">
  <h1>{{ title }}</h1>
  <form (submit)="searchUsers()">
    <input type="text" [(ngModel)]="query" name="query" placeholder="Enter GitHub username" required>
    <button type="submit">Buscar</button>
  </form>

  <table *ngIf="users.length > 0">
    <thead>
      <tr>
        <th>Avatar</th>
        <th>Nombre</th>
        <th>Perfil URL</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td><img [src]="user.avatar_url" alt="{{ user.login }}" width="50"></td>
        <td>{{ user.login }}</td>
        <td><a [href]="user.html_url" target="_blank">{{ user.html_url }}</a></td>
      </tr>
    </tbody>
  </table>
</div>